.menu-item{
    display: inline-block;
    
}

.menu-item a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    margin: 0 1rem;
    font-weight: lighter;
    padding: 1rem;
}

.badge img{
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(46,56,56,1) 50%, rgba(0,0,0,1) 100%); ;
    border: 1px dashed rgb(131, 131, 131);
}

.logo{
    position: relative;
    right: 2rem;
 
}



.logo img{
    height: 170%;
    margin-top: 10px;
    z-index: 3;
}

.header__nav{
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;
    display: flex;
    justify-content: center;
    background: black;
    height: 100px;
    align-items: center;
}

header svg{
    position: absolute;
    top: -100px;
    display: block;
    z-index: 0;
}